<div class="center hero-unit">
  <h1>Welcome to Spectre</h1>
  <p>
    Real-time market surveillance.
  </p>

  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>